.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  top: 10px;
  left: 0;
  bottom: 0;
}

.footer-content {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 20px;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: #1e90ff;
  margin: 0 5px;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
